<div class="land-terminal-form-container">
  <h2>{{ landTerminal ? 'Editar Terminal Terrestre' : 'Crear Terminal Terrestre' }}</h2>

  <form [formGroup]="landTerminalForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input id="nombre" type="text" formControlName="nombre">
      @if (landTerminalForm.get('nombre')?.invalid && landTerminalForm.get('nombre')?.touched) {
        <div class="error-message">Nombre es requerido.</div>
      }
    </div>

    <div formGroupName="ubicacion">
      <h3>Ubicación</h3>
      <div class="form-group">
        <label for="latitud">Latitud (Opcional):</label>
        <input id="latitud" type="number" formControlName="latitud">
      </div>
      <div class="form-group">
        <label for="longitud">Longitud (Opcional):</label>
        <input id="longitud" type="number" formControlName="longitud">
      </div>
      <div class="form-group">
        <label for="direccion">Dirección (Opcional):</label>
        <input id="direccion" type="text" formControlName="direccion">
      </div>
      <div class="form-group">
        <label for="ciudad">Ciudad (Opcional):</label>
        <input id="ciudad" type="text" formControlName="ciudad">
      </div>
      <div class="form-group">
        <label for="departamento">Departamento (Opcional):</label>
        <input id="departamento" type="text" formControlName="departamento">
      </div>
    </div>

    <div class="form-group">
      <label for="capacidad_andenes">Capacidad de Andenes (Opcional):</label>
      <input id="capacidad_andenes" type="number" formControlName="capacidad_andenes">
    </div>

    <div class="form-group">
      <label for="administrador">Administrador (Opcional):</label>
      <input id="administrador" type="text" formControlName="administrador">
    </div>

    <div class="form-group">
      <label for="telefono">Teléfono (Opcional):</label>
      <input id="telefono" type="text" formControlName="telefono">
    </div>

    <div class="form-group">
      <label for="email">Email (Opcional):</label>
      <input id="email" type="email" formControlName="email">
      @if (landTerminalForm.get('email')?.invalid && landTerminalForm.get('email')?.touched) {
        @if (landTerminalForm.get('email')?.errors?.['email']) {
          <div class="error-message">Email inválido.</div>
        }
      }
    </div>

    <button type="submit" [disabled]="landTerminalForm.invalid">{{ landTerminal ? 'Guardar Cambios' : 'Crear Terminal' }}</button>
    <button type="button" (click)="onCancel()">Cancelar</button>
  </form>
</div>
